<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

<div id="refs" class="references">
<div id="ref-Project2012">
<p>1000 Genomes Project Consortium. 2012. “An integrated map of genetic variation from 1,092 human genomes.” <em>Nature</em> 135 (V): 0–9. <a href="https://doi.org/10.1038/nature11632">https://doi.org/10.1038/nature11632</a>.</p>
</div>
<div id="ref-Kooner2011">
<p>Jaspal S. Kooner, Danish Saleheen, Xueling Sim, Joban Sehmi, Weihua Zhang, Philippe Frossard, Latonya F. Been, et al. 2011. “Genome-wide association study in individuals of South Asian ancestry identifies six new type 2 diabetes susceptibility loci.” <em>Nature Genetics</em>. <a href="https://doi.org/10.1038/ng.921">https://doi.org/10.1038/ng.921</a>.</p>
</div>
<div id="ref-Li2011">
<p>Yingrui Li, Hancheng Zheng, Ruibang Luo, Honglong Wu, Hongmei Zhu, Ruiqiang Li, Hongzhi Cao, et al. 2011. “Structural variation in two human genomes mapped at single-nucleotide resolution by whole genome de novo assembly.” <em>Nature Biotechnology</em> 29 (8): 723–30. <a href="https://doi.org/10.1038/nbt.1904">https://doi.org/10.1038/nbt.1904</a>.</p>
</div>
<div id="ref-Mahajan2014">
<p>Anubha Mahajan, Min Jin Go, Weihua Zhang, Jennifer E. Below, Kyle J. Gaulton, Teresa Ferreira, Momoko Horikoshi, et al. 2014. “Genome-wide trans-ancestry meta-analysis provides insight into the genetic architecture of type 2 diabetes susceptibility.” <em>Nature Genetics</em>. <a href="https://doi.org/10.1038/ng.2897">https://doi.org/10.1038/ng.2897</a>.</p>
</div>
<div id="ref-Mayba2014">
<p>Oleg Mayba, Florian Gnad, Michael Peyton, Fan Zhang, Kimberly Walter, Pan Du, Melanie A Huntley, et al. 2014. “Integrative analysis of two cell lines derived from a non-small-lung cancer patient–a panomics approach.” <em>Pacific Symposium on Biocomputing. Pacific Symposium on Biocomputing</em>. <a href="https://doi.org/10.1109/RSETE.2011.5966134">https://doi.org/10.1109/RSETE.2011.5966134</a>.</p>
</div>
<div id="ref-Suzuki2014">
<p>Keiichiro Suzuki, Chang Yu, Jing Qu, Mo Li, Xiaotian Yao, Tingting Yuan, April Goebl, et al. 2014. “Targeted Gene Correction Minimally Impacts Whole-Genome Mutational Load in Human-Disease-Specific Induced Pluripotent Stem Cell Clones.” <em>Cell Stem Cell</em>. <a href="https://doi.org/10.1016/j.stem.2014.06.016">https://doi.org/10.1016/j.stem.2014.06.016</a>.</p>
</div>
<div id="ref-Yu2014">
<p>Chang Yu, Jun Yu, Xiaotian Yao, William K.K. Wu, Youyong Lu, Senwei Tang, Xiangchun Li, et al. 2014. “Discovery of biclonal origin and a novel oncogene SLC12A5 in colon cancer by single-cell sequencing.” <em>Cell Research</em>. <a href="https://doi.org/10.1038/cr.2014.43">https://doi.org/10.1038/cr.2014.43</a>.</p>
</div>
<div id="ref-Zhang2013">
<p>Fan Zhang, Ruoyan Chen, Dongbing Liu, Xiaotian Yao, Guoqing Li, Yabin Jin, Chang Yu, Yingrui Li, and Lachlan J M Coin. 2013. “YHap: a population model for probabilistic assignment of Y haplogroups from re-sequencing data.” <em>BMC Bioinformatics</em> 14: 331. <a href="https://doi.org/10.1186/1471-2105-14-331">https://doi.org/10.1186/1471-2105-14-331</a>.</p>
</div>
</div>
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>